<div class="profile-container d-flex flex-column justify-content-center align-items-center">
  <div class="card mb-3" style="width: 768px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{profile.image}}" alt="user profile" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile.name}}</h5>
          <p class="card-text">{{profile.email}}</p>
          <p class="card-text">{{commentedRestaurants.length}} 已評論餐廳</p>

          {{!-- only shows edit button if user is on their own profile --}}
          {{#ifCond user.id profile.id}}
            <a href="/users/{{profile.id}}/edit">
              <button class="btn btn-primary">Edit</button>
            </a>
          {{/ifCond}}

        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 768px;">
    <div class="card-header">{{commentedRestaurants.length}} 已評論餐廳</div>
    <div class="row p-3">
      {{#each commentedRestaurants}}
        <div class="col-md-2 mb-1">
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" alt="" class="img-fluid">
            <p>{{this.name}}</p>
          </a>
        </div>
      {{/each}}
    </div>

  </div>