<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
    {{!-- <div class="col-md-2"></div> --}}
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <div class="mb-4 shadow-sm d-flex border p-2" style="width: 540px;">
        <div class="col-7">
          <img class="img" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
        </div>
        <div class="col-5 d-flex flex-column align-items-start justify-content-center">
          <div class="title mb-2">
            <a href="/restaurants/{{this.id}}">
              {{this.name}}
            </a>
          </div>
          <span class="badge badge-secondary mb-2">收藏數： {{this.favoriteUserCount}}</span>

          <div class="description text-truncate w-100 mb-3 text-align-left">
            {{this.description}}
          </div>

          <div class="buttons d-flex">
            <form action="/restaurants/{{this.id}}">
              <button type="submit" class="btn btn-primary">Show</button>
            </form>
            {{#if this.isFavorited }}
              <form class="ml-2" action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
                  class="btn btn-danger">移除最愛</button></form>
            {{else}}
              <form class="ml-2" action="/favorite/{{this.id}}" method="POST"><button type="submit"
                  class="btn btn-primary">加到最愛</button>
              </form>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  {{/each}}
  {{!-- {{#each users}}
    <div class="col-3">
      <a href="/users/{{this.id}}">
        <img class="" src="{{this.image}}" width="140px" height="140px">
      </a>
      <h2>{{this.name}}</h2>
      <span class="badge badge-secondary">追蹤人數：{{this.FollowerCount}}</span>
      <p>
        {{#if this.isFollowed }}
          <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
              type="submit" class="btn btn-danger">取消追蹤</button></form>
        {{else}}
          <form action="/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
              class="btn btn-primary">追蹤</button></form>
        {{/if}}
      </p>
    </div>
  {{/each}} --}}
</div>